
.icon-attach:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-phone-outline:before { content: '\e802'; } /* '' */
.icon-location-outline:before { content: '\e803'; } /* '' */